
//colors

$blue: rgb(73, 7, 134);
$pink: #F64C72;
$orange: #ed9a20;

//font-size
$font-size-s: 1.4rem;
$font-size-m: 1.8rem;
$font-size-l: 2.4rem;
$font-size-xl: 3.6rem;

//spacing

$s-size: 1.0rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;